<template name="users">
  <h2>Users</h2>
  {{> addUser}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th data-field="name"><a href="#" class="name">Name <i class="glyphicon glyphicon-triangle-bottom"></i></a></th>
        <th data-field="ghUser"><a href="#" class="ghUser">GitHub Username <i></i></a></th>
        <th data-field="public_repos"><a href="#" class="public_repos">Public Repos <i></i></a></th>
      </tr>
    </thead>
    <tbody>
    {{#each users}}
      {{> user}}
    {{/each}}
    </tbody>
  </table>
</template>
