<template name="userDashboard">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{name}}</h2>
  </div>
  <div class="panel-body">
    <img class="pull-left" src="{{avatar_url}}" alt="{{name}}" width="200">
    <div class="pull-left">
      <ul>
        <li><strong>GitHub Username</strong> - {{ghUser}}</li>
        <li><strong>GitHub Display Name</strong> - {{ghName}}</li>
        <li><strong>Public Repos</strong> - {{public_repos}}</li>
      </ul>
    </div>
  </div>
</div>
</template>
